<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/departmant" class="btn btn-info">List departmant</a></li>
            <li class="list-inline-item"><a routerLink="/adddepartmant" class="btn btn-info">Add departmant</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<p>departmant-list works!</p>
<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">departmant</th>
            <th scope="col">component</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dep of departmant">
            <td>{{ dep.d_id }}</td>
            <td>{{ dep.departmant }}</td>
            <td>{{ dep.component }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
