<form> 
    <div class="form-group">
      <label for="user">kullanıcı adı</label>
       <input type="text" [(ngModel)]="kullanici_adi" name="kullanici_adi"
       class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">parola</label>
      <input type="password"  [(ngModel)]="parola" name="parola"
       class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <li class="login"><a class="btn btn-info" (click)="onSubmit()" >login</a></li>
    <li class="singin"><a routerLink="/singin" class="btn btn-info" >singin</a></li>
    
  </form>
